<!DOCTYPE html>
<html>
<head>
  <title><%=@settings[:page_title]%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/markdown/markdown.min.js" integrity="sha512-DmMao0nRIbyDjbaHc8fNd3kxGsZj9PCU6Iu/CeidLQT9Py8nYVA5n0PqXYmvqNdU+lCiTHOM/4E7bM/G8BttJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

<!--page header-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div id="header">
	      <a href="/"><h1><%=@settings[:title]%> <small> <%=@settings[:subtitle]%></small></h1></a>
        
	      <span class="menu">                                                     <!--DO NOT MIRROR-->
          <%if user_signed_in?%>                                                <!--DO NOT MIRROR-->
		        <%=link_to "logout", destroy_user_session_path, method: :delete%>   <!--DO NOT MIRROR-->
            <strong><%=current_user.username%></strong>                         <!--DO NOT MIRROR-->
          <%else%>                                                              <!--DO NOT MIRROR-->
            <%=link_to "login", new_user_session_path%>                         <!--DO NOT MIRROR-->
          <%end%>                                                               <!--DO NOT MIRROR-->
	      </span>                                                                 <!--DO NOT MIRROR-->
        
      </div>
    </div>
  </div>
  <!--flash alerts-->
  <div class="row">
    <div class="col-md-12">
      <%if flash[:alert]%>
        <div class="alert alert-danger"><%=flash[:alert]%></div>
      <%end%>
      <%if flash[:notice]%>
        <div class="alert alert-info"><%=flash[:notice]%></div>
      <%end%>
    </div>
  </div>
  <!--admin tools-->
	<% if (user_signed_in? and current_user.admin?)%>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#admin-navbar-collapse">
          <span class="sr-only">admin actions</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="admin-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%=link_to "Pages", pages_path%></li>
          <li><%=link_to "Documents", documents_path%></li>
          <li><%=link_to "Users", users_path%></li>
        </ul>
        
      </div>
    </div>
  </nav>
  <%end%>
  <!--page content-->
  <%= yield %>
</div>
</body>
</html>

<script type="text/javascript">
$(document).ready( $(".alert").not(".no-hide").delay(2000).fadeOut());
</script>