<!DOCTYPE html>
<html>
<head>
  <title><%=@settings.page_title%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

<!--page header-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div id="header">
	      <a href="/"><h1><%=@settings.title%> <small> <%=@settings.subtitle%></small></h1></a>
        
	      <span class="menu">                                                     <!--DO NOT MIRROR-->
          <%if user_signed_in?%>                                                <!--DO NOT MIRROR-->
		        <%=link_to "logout", destroy_user_session_path, method: :delete%>   <!--DO NOT MIRROR-->
            <strong><%=current_user.username%></strong>                         <!--DO NOT MIRROR-->
          <%else%>                                                              <!--DO NOT MIRROR-->
            <%=link_to "login", new_user_session_path%>                         <!--DO NOT MIRROR-->
          <%end%>                                                               <!--DO NOT MIRROR-->
	      </span>                                                                 <!--DO NOT MIRROR-->
        
      </div>
    </div>
  </div>
  <!--flash alerts-->
  <div class="row">
    <div class="col-md-12">
      <%if flash[:alert]%>
        <div class="alert alert-danger"><%=flash[:alert]%></div>
      <%end%>
      <%if flash[:notice]%>
        <div class="alert alert-info"><%=flash[:notice]%></div>
      <%end%>
    </div>
  </div>
  <!--admin tools-->
	<% if (user_signed_in? and current_user.admin?)%>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#admin-navbar-collapse">
          <span class="sr-only">admin actions</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="admin-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%=link_to "Pages", pages_path%></li>
          <li><%=link_to "Documents", documents_path%></li>
          <li><%=link_to "Users", users_path%></li>
          <li><%=link_to "Settings", edit_setting_path(1)%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="backup.zip"><i class="glyphicon glyphicon-floppy-save"></i>
            Download Backup</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%end%>
  <!--page content-->
  <%= yield %>
</div>
</body>
</html>

<script type="text/javascript">
$(document).ready( $(".alert").not(".no-hide").delay(2000).fadeOut());
</script>